In [2]:
import pandas as pd
df=pd.read_csv("C:/Users/vishwanth/Downloads/archive/employee_data.csv")
df.head()

   Unnamed: 0  id groups  age  healthy_eating  active_lifestyle  salary
0           0   0      A   36               5                 5    2297
1           1   1      A   55               3                 5    1134
2           2   2      A   61               8                 1    4969
3           3   3      O   29               3                 6     902
4           4   4      O   34               6                 2    3574

In [3]:
input =df.drop('active_lifestyle', axis='columns')
target =df['active_lifestyle']

In [4]:
target

0      5
1      5
2      1
3      6
4      2
      ..
995    7
996    2
997    7
998    7
999    9
Name: active_lifestyle, Length: 1000, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder

groups = LabelEncoder()
age = LabelEncoder()
healthy_eating = LabelEncoder()

In [19]:
df['groups'] = groups.fit_transform(df['groups'])
df['age'] = age.fit_transform(df['age'])
df['healthy_eating']= healthy_eating.fit_transform(df['healthy_eating'])
df.head()

   Unnamed: 0  id  groups  age  healthy_eating  active_lifestyle  salary
0           0   0       0   18               5                 5    2297
1           1   1       0   37               3                 5    1134
2           2   2       0   43               8                 1    4969
3           3   3       3   11               3                 6     902
4           4   4       3   16               6                 2    3574

In [23]:
inputs_n = df.drop(['groups','active_lifestyle'], axis = 'columns')
inputs_n

     Unnamed: 0   id  age  healthy_eating  salary
0             0    0   18               5    2297
1             1    1   37               3    1134
2             2    2   43               8    4969
3             3    3   11               3     902
4             4    4   16               6    3574
..          ...  ...  ...             ...     ...
995         995  995   15               7    2996
996         996  996    3               1     667
997         997  997   31               9    4158
998         998  998   38               6    2414
999         999  999   46               4     788

[1000 rows x 5 columns]

In [24]:
from sklearn import tree

In [25]:
model= tree.DecisionTreeClassifier()

In [26]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [27]:
model.score(inputs_n, target)

1.0

In [32]:
model.predict([[1,1, 37, 3,1134]])

C:\Users\vishwanth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([5], dtype=int64)