In [39]:
import pandas as pd
import numpy as np

In [40]:
names=["User_ID","Product_ID","Gender","Age","Occupation","City_Category","Stay_In_Current_City_Years","Marital_Status","Product_Category_1","Product_Category_2","Product_Category_3","Purchase"]

In [41]:
data= pd.read_csv("train.csv", names=names)

C:\Users\vishwanth\AppData\Local\Temp\ipykernel_21676\1004853202.py:1: DtypeWarning: Columns (0,4,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("train.csv", names=names)

In [52]:
data=data.drop(['Product_ID'], axis=1)

# ILOC[row_index_start : row_index_end, column_index_start : column_index_end,boolean_conditions ].

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data.iloc[:, 1:], data.iloc[:, 0])

In [44]:
x_train.shape

(412551, 11)

In [45]:
y_train.shape

(412551,)

In [46]:
data['User_ID'] = pd.to_numeric(data['User_ID'], errors='coerce')

In [47]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,NaN,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001.0,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
2,1000001.0,P00248942,F,0-17,10,A,2,0,1,6,14,15200
3,1000001.0,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
4,1000001.0,P00085442,F,0-17,10,A,2,0,12,14,NaN,1057
...,...,...,...,...,...,...,...,...,...,...,...,...
550064,1006033.0,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550065,1006035.0,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550066,1006036.0,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550067,1006038.0,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550068,1006039.0,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [48]:
data['User_ID'] = data['User_ID'].astype(float)

In [49]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()

In [51]:
DT.fit(x_train, y_train)

ValueError: could not convert string to float: 'P00115342'